
*{
    margin: 0;
    padding: 0;
}
*::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: black;
}
.home-container{
    width: 30%;
    height: 811px;
     background: url(bg-main-desktop.png); 
}
.outer{
    /* margin: 5em; */
    border-radius: 1.5em;
    padding: 4em 2em;
}
.outer .left{
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    /* padding-bottom: 60px; */
    position: absolute;
    left: 1000px;
}
.outer form{
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin-top: 2em;
}
.outer form .inputBox{
    margin-top: 20px;
}

.outer form .inputBox input
{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: black;
    flex: 1 1 150px;
}


@media screen and (min-width: 576px) {
    .outer{
        padding: 4em;
    }
}
@media screen and (min-width: 992px) {
    .outer{
        padding: 4em;
    }
}
.left form{
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin-top: 5rem;
}
.left form .inputBox{
    margin-top: 20px;
}